/*!
 * Styling der Kommentarfunktion
 */
.kommentare {
    .item {
        margin-top:$elementPadding*2;

        time {
            color:$gray;
            font-style:italic;
        }
    }
}