/**
 * Formatierungen des Footers
 *
 * BEGIN
 */
 footer {
 	ul {
 		li {
 			padding-top: $elementPadding*2;

 			a {
 				color: $gray;
 				text-transform: uppercase;
 			}
 		}
 	}
 }