//
// KONFIGURATION
// 
// BEGIN
//

// Abstand zwischen allen Elementen innerhalb des DHZ-Grids
$elementPadding:	10px;

// Schrift, die innerhalb der Navigation verwendet wird.
$navbar-default-font:	'Oswald', sans-serif;

// Schriftgröße der Navigation
$navbar-font-size: 17px;
$navbar-font-size-subnav: 15px;

// Horizontaler Abstand zwischen den Navigationspunkten der ersten Navi-Ebene - ab Desktop large wird er verdoppelt! -
$navbar-item-spacing: 30px;

// Horizontaler Abstand zwischen den Navigationspunkten der zweiten Navi-Ebene
$navbar-item-spacing-subnav: 15px;

//
// KONFIGURATION
// 
// END
//